*{
  margin: 0;
  padding: 0;
}
.grid {
    padding: 5vh 40vw;
    display: flex;
    flex-wrap:wrap-reverse;
    width: 310px;
    height: 310px;
  }
  body{
    background-image: url(images/Background.gif);
    background-size: cover;
  }
  nav {
      align-items:center ;
      font-weight: bolder;
      background-color:black;
      color: white;
      height: 60px;
      letter-spacing: 3px;
      font-family: sans-serif;
      display: flex;
  }
  .menu{
    list-style-type: none;
    display: flex;
  }
    nav ul li{ 
      justify-content: space-around;
     border-radius: 20px; 
    padding: 0 12px;
    cursor: pointer;
  }
   .menu li:hover{
     background-color: blue;
     transition: with all ease 0.2s;
   }
  .scoreitem {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    padding: 10vh 30vw;
    color: white;
  }
  .scoreitem h1{
    cursor: pointer;
  }
  .con{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 85px;
    font-size: 0.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
  }
  .con h2{
    cursor: pointer;
  }
  .con::before{
    content: "";
    background-color: black;
    position:fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
  }